CLAUDE.md
ARCHITECTURE.md

node_modules
dist

HW1_Pokedex_Explorer.md
HW2_Recipe_Finder.md
HW3_Message_Wall.md

Design/

# *.css
# *.html
# new-project/book/Frontend/js/*.js
# new-project/quiz/Frontend/js/*.js


.kombai
.vscode

*.env

FRONTEND-STRUCTURE.md