/* Basic styles for HTML tag */

* {
  box-sizing: border-box;
}

body,
h2,
h3,
div {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  scroll-margin-top: var(--header-height);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}
